<h1 *ngIf="!winner">Current Player: {{player}}</h1>
<button (click)="newGame()">Start new game</button>
<h2 *ngIf="winner">The player: {{winner}} won</h2>
<main>
    <app-square
        *ngFor="let val of squares; let i = index"
        [value]=val
        (click)="moveItem(i)"
    ></app-square>
</main>